.admincp_list{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.admincp_list li{
    float: left;
    margin: 5px;
}
.clear{
    clear: both;
}
h3.title_admin{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(12, 3, 131);
}
.wrapper{
    border: 1px solid black;
    width: 90%;
    height: auto;
    margin: 0 auto;
}